{% extends 'main/temp.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% load static %}

{% block content %}


<div class="navigation" xmlns="http://www.w3.org/1999/html">
    <div class="nav-bar fixed-top">
        <button class="nav-btn">&#9776;</button>
        <div class="nav-items">
            <a href="/">Main page</a>
            <a href="{% url 'main:about' %}">About us</a>
            <a href="{% url 'main:contacts' %}">Contacts</a>
            {% if user.is_superuser %}
                <a href="{% url 'articles:add' %}">Add post</a>
                <a href="{% url 'articles:category' %}">Add category</a>
            {% endif %}
        </div>
        <div class="nav-links">
            <a href="#"><i class="fa-brands fa-vk" style="color: #000000;"></i></a>
            <a href="#"><i class="fa-brands fa-telegram" style="color: #000000;"></i></a>
            <a href="#"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a>
            <a href="#"><i class="fa-brands fa-square-odnoklassniki" style="color: #000000;"></i></a>
        </div>
    </div>
</div>

<div class="check-user">
{% if categories_menu %}
    <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button"
                 data-bs-toggle="dropdown" aria-expanded="false">
                Select category
              </a>
                  <ul class="dropdown-menu">
                      {% for item in categories_menu %}
                        <li><a class="dropdown-item"
                               href="{% url 'articles:categories' item|slugify %}">
                            {{ item }}
                        </a></li><br>
                      {% endfor %}
                  </ul>
    </li>
{% endif %}
    <div class="register">
        {% if not user.is_authenticated %}
        <a class="reg" href="{% url 'users:login' %}">Sign in</a>
        <a class="reg" href="{% url 'users:registration' %}">Sign up</a>
        {% endif %}

        {% if user.is_authenticated %}
        <a class="reg" href="{% url 'users:logout' %}">Logout</a>
        {% endif %}
    </div>
</div>

<div class="article-info">

    <div class="container">
        <div class="text-article">
            <h3>{{ post.title }}</h3>
            <br>

            {{ post.body|safe }}
            <br>
            <br>
            <h6 style="margin-left: 380px; margin-top: 50px;">Author: {{ post.author.username }}</h6>
            <br>
            <p style="margin-left: 425px; margin-top: -15px;">{{ post.pub_data }}</p>
            <br>
            <br>
            <form style="margin-left: 545px; margin-top: -15px;" action="{% url 'articles:like-article' post.pk %}"
                  method="POST">
                {% csrf_token %}
                <button type="button" name="post_id" value="{{ post.id }}" class="btn btn-success">
                    Like
                </button> {{ all_likes }} people liked that post
            </form>
            <br>

            <a style="margin-left: 380px; margin-top: -15px;" href="{% url 'articles:all' %}" class="btn btn-secondary">Back</a>

            <br>
            <br>

            {% if user.is_superuser %}
                <button type="button" class="btn btn-secondary">
                    <a href="{% url 'articles:edit' post.pk %}" class="btn btn-secondary">
                        Edit post
                    </a>
                </button>
            <br>
                <button style="margin-bottom: 20px;" type="button" class="btn btn-secondary">
                    <a href="{% url 'articles:delete' post.pk %}" class="btn btn-secondary">
                        Delete
                    </a>
                </button>
            {% endif %}
        </div>
    </div>
</div>

<div class="footer">
    <div class="rights-info text-center mt-3">
        <p>
            All rights reserved 2023
        </p>
        <a href="#"><i class="fa-brands fa-vk" style="color: #000000;"></i></a>
        <a href="#"><i class="fa-brands fa-telegram" style="color: #000000;"></i></a>
        <a href="#"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a>
        <a href="#"><i class="fa-brands fa-square-odnoklassniki" style="color: #000000;"></i></a>
    </div>
</div>


{% endblock %}

