{% extends 'main/temp.html' %}

{% block title %}About us{% endblock %}

{% load static %}

{% block content %}

<div class="navigation">
    <div class="nav-bar fixed-top">
        <button class="nav-btn">&#9776;</button>
        <div class="nav-items">
            <a href="/">Main page</a>
            <a href="{% url 'articles:all' %}">Articles</a>
            <a href="{% url 'main:contacts' %}">Contacts</a>
            {% if user.is_superuser %}
                <a href="{% url 'articles:add' %}">Add post</a>
                <a href="{% url 'articles:category' %}">Add category</a>
            {% endif %}
        </div>
            <div class="nav-links">
                <a href="#"><i class="fa-brands fa-vk" style="color: #000000;"></i></a>
                <a href="#"><i class="fa-brands fa-telegram" style="color: #000000;"></i></a>
                <a href="#"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a>
                <a href="#"><i class="fa-brands fa-square-odnoklassniki" style="color: #000000;"></i></a>
            </div>
    </div>
</div>

<div class="check-user">
    <div class="register">
        {% if not user.is_authenticated %}
            <a class="reg" href="{% url 'users:login' %}">Sign in</a>
            <a class="reg" href="{% url 'users:registration' %}">Sign up</a>
        {% endif %}

        {% if user.is_authenticated %}
            <a class="reg" href="{% url 'users:logout' %}">Logout</a>
        {% endif %}
    </div>
</div>

<div class="about mt-3">
    <div class="aboutme">
        <h4>
        Who am I?
        </h4> <br>
        <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
            A, dignissimos dolor doloremque eligendi facere modi pariatur <br>
            quae tempore? Ad, quis.
        </h6>
        <h6>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
            Aspernatur atque culpa, ea ex facere maiores quaerat quo rerum! <br>
            Aut itaque labore nemo odit quibusdam voluptates.
        </h6>
        <h6>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
            Aspernatur atque culpa, ea ex facere maiores quaerat quo rerum! <br>
            Aut itaque labore nemo odit quibusdam voluptates.
        </h6>
        <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
            A, dignissimos dolor doloremque eligendi facere modi pariatur <br>
            quae tempore? Ad, quis.
        </h6> <br>
        <a href="#appointment" button type="button" class="btn btn-success">Fill the form</a>
    </div>
</div>

<div class="description">
    <div class="desc-info mt-3">
        <div class="info-company">
            <h2>
                Description about company
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae cumque dignissimos <br> quas
                quia suscipit tempora voluptatem! Accusamus aperiam consequatur facere repellat sit vel?
            </p>
        </div>
        <div class="info-process">
            <h2>
                Description about working process
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi corporis deserunt dolores ea
                eos esse eveniet in ipsum iure laudantium modi molestiae molestias omnis optio perferendis
                placeat quisquam reprehenderit,
                similique, <br> temporibus totam. Consequatur, minima, nisi.
            </p>
        </div>
    </div>
</div>

<div class="application mt-3" id="appointment">
    <section class="contact" id="contact">
        <div class="container">
            <div class="heading text-center">
                <h2>Contact
                    <span> Us </span></h2>
                <p>
                    Fill the form and we will contact to you
                </p>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <form method="POST" action="/">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <input name="first_name" type="text" class="form-control" placeholder="name">
                                </div>
                                <div class="col-sm-6">
                                    <input name="email" type="email" class="form-control" placeholder="email">
                                </div>
                                <div class="col-sm-12">
                                    <input name="last_name" type="text" class="form-control" placeholder="phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" id="comment" placeholder="message"></textarea>
                            </div>
                            <button class="btn btn-block" type="submit">Send Now!</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="footer">
    <div class="rights-info text-center mt-3">
        <p>
            All rights reserved 2023
        </p>
        <a href="#"><i class="fa-brands fa-vk" style="color: #000000;"></i></a>
        <a href="#"><i class="fa-brands fa-telegram" style="color: #000000;"></i></a>
        <a href="#"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a>
        <a href="#"><i class="fa-brands fa-square-odnoklassniki" style="color: #000000;"></i></a>
    </div>
</div>

{% endblock %}